<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>
  <div id="main">

    <div class="container">
      <div class="row">
        <!-- 入力フィールド -->
        <div class="col-xs-6">
          <h3>create NFT</h3>
          <!-- 入力コンポーネント 親のonAddへイベント発火 -->
          <start_mining @on-add="get_mine"></start_mining>
          <table class="table">
              <div v-for="item in list">
                <p>message:{{item.message}}</p>
                <p>index:{{item.index}}</p>
                <!-- p>transactions:{{item.transactions}}</p -->
                <p>proof:{{item.proof}}</p>
                <p>previous_hash:{{item.previous_hash}}</p>
                <p>transactions-valid:{{item.transactions[0].sender}}</p>
                <p>transactions-sender_token:{{item.transactions[0].recipient}}</p>
                <p>transactions-amount:{{item.transactions[0].amount}}</p>
                <props v-bind:sender="item.transactions[0].recipient" ></props>
                <props v-bind:amount="item.transactions[0].amount"> </props>
              </div>
          </table>
        </div>
  
        <!-- 検索フィールド -->
        <div class="col-xs-6">
          <h3>TRANSCTION START</h3>
          <!-- p>sender:{{sender}}</p>
          <p>amount:{{amount}}</p -->
          <!-- transaction @on-search="exec_trans"></transaction -->
          <button type="button" class="btn btn-default" @click="exec_trans">post</button>
          <h3>node informations</h3>
              <div v-for="item in searchResult">
                <p>added block index:{{item.added_block}}</p>
                <p>chain:{{item.chain}}</p>
                <p>length:{{item.length}}</p>
                <p>nodes:{{item.nodes}}</p>

              </div>
        </div>
      </div>
    </div>

  </div>
    
  <template id="start_mining">
    <button type="button" class="btn btn-default" @click="mine">get</button>
  </template>

  <template id="transaction">
      <button type="button" class="btn btn-default" @click="trans">post</button>
  </template>
  
<script>

 Vue.component ('start_mining', {
  template: '#start_mining',
  data () {
    return {
        message: '', 
        index: '',
        transactions: [
            {
                sender: '',
                recipient: '',
                amount: '',
            }
        ],
        proof: '',
        previous_hash: '',
    }
  },
  methods: {
    mine () {
        axios.get('http://127.0.0.1:5000/mine').then(res=>{
        console.log(res)
        const {message, index, transactions, proof, previous_hash} = res.data
        // 空入力を時、空振り
        if (message === '') return
        // 親のon-addイベントへ伝達
        this.$emit('on-add', {
            message: message, 
            index: index,
            transactions: transactions,
            proof: proof,
            previous_hash: previous_hash,
        })
    }).catch(err=>{
        console.log(err)
    })
    // 入力データリセット
    this.message = '', 
    this.index = ''
    this.transactions = ''
    this.proof = ''
    this.previous_hash = ''
    }
  },

})


Vue.component ('transaction', {

  template: '#transaction',

  data () {
    return {
      added_block: '',
      chain: '',
      length: '',
      nodes: '',
    }
  },

  methods: {
    trans () {
        axios.post('http://127.0.0.1:5000/transaction',{
          sender: sender,
          recipient: recipient,
          amount: amount
        }).then(res=>{
          console.log(res)
          if (added_block === '') return
          // 親のon-searchイベントへ伝達
          this.$emit('on-search', {
            added_block: added_block, 
            chain: chain,
            length: length,
            nodes: nodes,
          })
    }).catch(err=>{
        console.log(err)
    })

    }
  }
})

new Vue({

  el: '#main',
  
  data () {
    return {
    list: [{
        message: '', 
        index: '',
        transactions: [
        {
                sender: '',
                recipient: '',
                amount: '',
            }
        ],
        proof: '',
        previous_hash: '',
    }],
    
    searchResult: [{
      added_block: '',
      chain: '',
      length: '',
      nodes: '',
    }],


    }
  },

    methods: {
    get_mine (data) {
            this.list[0].message = data.message
            this.list[0].index = data.index
            this.list[0].transactions = data.transactions
            this.list[0].proof = data.proof
            this.list[0].previous_hash = data.previous_hash
    },
    
    exec_trans (data) {
      axios.post('http://127.0.0.1:5000/transaction',{
          sender: this.list[0].transactions[0].recipient,
          recipient: "sender HTTP",
          amount: this.list[0].transactions[0].amount
        }).then(res=>{
          console.log(res)
          if (added_block === '') return
          // 親のon-searchイベントへ伝達
          this.$emit('on-search', {
            added_block: added_block, 
            chain: chain,
            length: length,
            nodes: nodes,
          })
    }).catch(err=>{
        console.log(err)
    })

        //    this.list[0].added_block = data.added_block
        //    this.list[0].chain = data.chain
        //    this.list[0].length = data.length
        //    this.list[0].nodes = data.nodes
        //    console.log(this.list)
    },


  }
})


</script>
</html>