<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
let ipaddr = [];
$.getJSON('https://ipinfo.io', res => console.log(res.ip));
</script>
<body>
    <h1>NFT mining</h1>
    We got {{length}} blocks in chain.
    <div>
      {% for item in chains %}
      <tbody>
        <p>##########################################</p>
        <p>index: {{ item.index }}</p>
        <p>timestamp:{{ item.timestamp }}</p>
        <p>proof:{{ item.proof }}</p>
        <p>previous_hash:{{ item.previous_hash }}</p>
      <tr>
        <p>transactions*************{% for tx in item.transactions %}</p>
        <p>transaction-sender:{{tx.sender}}</p>
        <p>transaction-recipient:{{tx.recipient}}</p>
        <p>transaction-amount:{{tx.amount}}</p>
        <p>**********************</p>
        {% endfor %}
      </tr>
      </tbody>
      {% endfor %}
  </div>
    
</body>
</html>