<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>

  <div id="mine">
    <h1>NFT mining</h1>
    <div>
      <form action="/mine" method="get"> 
        <h2>{{message}}</h2>
        <p>{{index}}</p>
        <p>{{transactions}}</p>
        <p>{{proof}}</p>
        <p>{{previous_hash}}</p>
        <input type="submit" value="create NFT">
      </form>
    </div>
  </div>

  <div id='new_transaction'>
    <form action="/transaction" method="post"> 
    <p>sender:
      <input name='sender' value="{{transactions[0].sender}}" readonly></p>
    <p>recipient:
      <input name='recipient' value="{{transactions[0].recipient}}" readonly></p>
    <p>amount:
      <input name='amount' value="{{transactions[0].amount}}" readonly></p>
    <button type="submit">send</button>
  </form>
  </div>



</body>
</html>