<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id="mine">
    <h1>NFT mining</h1>
    <div>
      <form action="/mine" method="get"> 
        <h2>message:{{message}}</h2>
        <p>index:{{index}}</p>
        <p>proof:{{proof}}</p>
        <p>transactions:</p>
        {% for tx in transactions %}
        <p>tx sender:{{tx.sender}}</p>
        <p>tx recipient:{{tx.recipient}}</p>
        <p>tx amount:{{tx.amount}}</p>
        {% endfor %}
        <p>previous_hash:{{previous_hash}}</p>
        <input type="submit" value="create NFT">
      </form>
    </div>
  </div>
</body>
</html>