<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id='new_transaction'>
    <form action="/transaction" method="post"> 
    <p>recipient:
      <input name='recipient' value="target host name"></p>
    <p>amount:
      <input name='amount' ></p>
    <button type="submit">send</button>
  </form>
  </div>

    {{message}}
    We got {{length}} blocks in current transaction.

    <div>
    <p>transactions*************{% for tx in transactions %}</p>
    <tbody>
    <tr>
      <p>transaction-sender:{{tx.sender}}</p>
      <p>transaction-recipient:{{tx.recipient}}</p>
      <p>transaction-amount:{{tx.amount}}</p>
      <p>**********************</p>
    </tr>
    </tbody>
    {% endfor %}
    </div>

</body>
</html>